# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.cproject
.project
.pydevproject
cmake_install.cmake
linuxcan
install_script.sh
bin
build
lib
msg_gen
srv_gen
CMakeLists.txt.user
*~